<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{alarm.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{alarm.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/alarms}" th:text="#{alarm.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('alarm')}" />
            <form th:action="${T(nl.strmark.piradio.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='monday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='tuesday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='wednesday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='thursday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='friday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='saturday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='sunday', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='startTime', inputClass='js-timepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='autoStopMinutes', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='isActive', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='alarm', field='alarmWebradio', type='select')}" />
                <input type="submit" th:value="#{alarm.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
