<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{home.index.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{home.index.headline}" class="mb-4" />
            <p th:utext="#{home.index.text}" />
<!--            <p th:utext="#{home.index.swagger}" class="mb-5" />-->
            <div class="col-md-4 mb-5">
                <h4 th:text="#{home.index.exploreEntities}" class="mb-3" />
                <div class="list-group">
                    <a th:href="@{/webRadios}" th:text="#{webRadio.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/alarms}" th:text="#{alarm.list.headline}" class="list-group-item list-group-item-action" />
                </div>
            </div>
            <div th:if="${!webRadios.empty}" class="table-responsive">
                <h2>Radio</h2>
                <table class="table table-striped table-hover align-middle">
                    <thead>
                    <tr>
                        <th th:text="#{webRadio.name.label}" scope="col" />
                        <th th:text="#{webRadio.url.label}" scope="col" />
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="webRadio : ${webRadios}">
                        <td th:text="${webRadio.name}"/>
                        <td th:text="${webRadio.url}"/>
                        <td>
                            <div class="float-end text-nowrap">
                                <a th:href="@{/webRadios/edit/{id}(id=${webRadio.id})}" class="btn btn-sm btn-info" th:title="#{webRadio.list.play}">
                                    <i class="fa-solid fa-play"></i> </a>
                                <a th:href="@{/webRadios/edit/{id}(id=${webRadio.id})}" class="btn btn-sm btn-info" th:title="#{webRadio.list.edit}">
                                    <i class="fa-solid fa-pen-to-square"></i> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${!alarms.empty}" class="table-responsive">
                <h2>Alarms</h2>

                <table class="table table-striped table-hover align-middle">
                    <thead>
                    <tr>
                        <th th:text="#{alarm.name.label}" scope="col" />
                        <th th:text="#{alarm.short.monday.label}" scope="col" />
                        <th th:text="#{alarm.short.tuesday.label}" scope="col" />
                        <th th:text="#{alarm.short.wednesday.label}" scope="col" />
                        <th th:text="#{alarm.short.thursday.label}" scope="col" />
                        <th th:text="#{alarm.short.friday.label}" scope="col" />
                        <th th:text="#{alarm.short.saturday.label}" scope="col" />
                        <th th:text="#{alarm.short.sunday.label}" scope="col" />
                        <th th:text="#{alarm.startTime.label}" scope="col" />
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alarm : ${alarms}">
                        <td th:text="${alarm.name}"/>
                        <td th:class="${alarm.monday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:class="${alarm.tuesday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:class="${alarm.wednesday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:class="${alarm.thursday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:class="${alarm.friday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:class="${alarm.saturday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:class="${alarm.sunday} ? 'alarm-on' : 'alarm-off'"></td>
                        <td th:text="${alarm.startTime}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
